<h2>Good luck
  <b>{{name}}</b>
</h2>
<h4>This is our test for Angular 2.</h4>

<div>
  Take as much time as you need, but since time of execution is important to us,
  <br/> I'd suggest advising with me if you get stuck more then 10 minutes on any issue.
</div>

<h4>With any question Michael 050-6442143</h4>
<br/>
<br/>
<br/>
<br/>


<br/>
<br/>
<h3>IV. Hotels</h3>
<ol>
  <li>Take a look at the file "details.png" in you folder</li>
  <li>It goes under the "Hotels" in menu</li>
  <li>You don't have to build the whole page, just try to show your knowledge</li>
  <li>Create the appropriate module/components/services/directives (feel free to use mock data)</li>
  <li>Choose any part of the page and "make it pretty"</li>
</ol>

<br/>
<br/>
<h3>V. (BONUS) If you have time, feel like it and are familiar with, try to integrate "Angular Material" into the site</h3>
<div></div>

<br/>
<br/>
<h3>VI. Prepare this project for deployment to Production environment</h3>
<div></div>

<br/>
<br/>
<br/>
<br/>