:host {
    .list-wrapper {
        span {
            display: flex;
            flex: 1;
            flex-direction: column;
            padding-bottom: 1.5%;
        }
    }
    @media screen and(max-width: 991px) {
        .list-wrapper,
        .title {
            text-align: center;
            span {
                width: 50%;
                float: left;
            }
        }
    }
}